---
import config from "../content/config/config.json";
import IconLink from "./react/IconLink";
const today = new Date();
---

<footer class="copyright-footer">
	<p class="text-sm text-center">© {today.getFullYear()} {config.seo.siteOwner}. Réalisation <a href="https://raphaelsanchez.design" target="_blank" rel="noopener noreferrer">Raphael Sanchez</a></p>

	<div class="social-links">
		{
			config?.contactLinks?.map((link) => {
				return (
					<IconLink {...link} />
				);
			})
		}
	</div>
</footer>
