---
import config from "../content/config/config.json";
import HeaderLink from "./HeaderLink.astro";
import IconLink from "./react/IconLink";

import { Image } from "astro:assets";
import MinederienLogo from "../assets/minederien.svg";
---

<header class="content-grid">
	<div class="breakout flex items-center justify-between px-4 py-2">
		<a href="/" class="max-w-[150px]" aria-label="Retour à l'accueil">
			<Image src={MinederienLogo} width={150} height={86} fit="contain" alt="Minederien Logo" />
			<span class="sr-only">{config.seo.title}</span>
		</a>

		<nav id="main-nav" aria-label="Menu principal">
			<ul class="flex items-center gap-4">
				{
					config.nav.map((nav) => (
						<li>
							<HeaderLink class="px-2" href={nav.link}>{nav.title}</HeaderLink>
						</li>
					))
				}
			</ul>
		</nav>
	
		<ul id="social-links" class="flex items-center gap-4" aria-label="Liens sociaux">
			{
				config?.contactLinks?.map((link) => {
					return (
						<li>
							<IconLink {...link} />
						</li>
					);
				})
			}
		</ul>
	</div>
</header>
