---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

// Load config
import config from '../content/config/config.json';
---
<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={config.seo.title} description={config.seo.description} />
	</head>
	<body>
        <Header />
        <slot />
        <Footer />
  </body>
</html>